%h3
  = "#{set_user_context} Home"

%div
  - @users.each_with_index do |user, i|
    = "#{i + 1}: #{user.name}"
%div
  = link_to "Login (Business)", new_user_session_path(:type => 'Business')
  %br
  = link_to "Login (School)", new_user_session_path(:type => "School") 
%br
%div
  = link_to "Switch", @user_type == 'Business' ? '/?type=School' : '/?type=Business'
