%p#notice= notice

%p
  %b Name:
  = @deal.name
%p
  %b Description:
  = @deal.description
%p
  %b Deal type:
  = @deal.deal_type
%p
  %b Start date:
  = @deal.start_date
%p
  %b End date:
  = @deal.end_date
%p
  %b Business:
  = @deal.business_id

= link_to 'Edit', edit_business_deal_path(@business, @deal)
\|
= link_to 'Back', business_deals_path(@business)
