%h1 Listing locations

= raw @map.to_html
%div{:id=>@map.dom_id, :style => "width:600px;height:400px;border:1px solid black"} [This should become a map]

%table
  %tr
    %th Name
    %th Address
    %th City
    %th Region
    %th Postal code
    %th Phone
    %th Fax
    %th Lat
    %th Lng
    %th
    %th
    %th

  - @locations.each do |location|
    %tr
      %td= location.name
      %td= location.address
      %td= location.city
      %td= location.region
      %td= location.postal_code
      %td= location.phone
      %td= location.fax
      %td= location.lat
      %td= location.lng
      %td= link_to 'Show', [@business, location]
      %td= link_to 'Edit', edit_business_location_path(@business, location)
      %td= link_to 'Destroy', [@business, location], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Location', new_business_location_path(@business)
